name: Build Android APK
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5 
        with:
          go-version: '1.21'

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y gcc-multilib libx11-dev libxcursor-dev libxinerama-dev libxrandr-dev libxi-dev libgl1-mesa-dev libglu1-mesa-dev

      - name: Install Fyne CLI
        run: go install fyne.io/fyne/v2/cmd/fyne@latest

      - name: Build APK
        run: |
          export PATH=$PATH:$(go env GOPATH)/bin
          # Собираем пакет. Если иконки icon.png нет, Fyne использует стандартную
          fyne package -os android -appID com.itoryon.meow

      - name: Upload APK
        uses: actions/upload-artifact@v4 
        with:
          name: meow-messenger-apk
          path: "*.apk"
          compression-level: 0 # Для APK лучше не использовать лишнее сжатие
